@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "lexend", sans-serif;
  background-color: #f7efea;
}

.root {
  display: flex;
  place-content: center flex-start;
  align-items: center;
  background-color: #f7efea;
  flex-flow: column nowrap;
  gap: 10px;
  height: 100vh;
  overflow: auto;
  padding: 0px;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  color: rgb(0, 0, 0);
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  left: 0;
  height: 8vh;
  color: rgb(255, 255, 255);
}

.header-title {
  display: flex;
  gap: 12px;
}

.header-title h1 {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
  margin: 0;
  margin-left: 5vw;
  font-family: "Gaegu", cursive;
  letter-spacing: 10%;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-align: left;
  color: #d6575f;
}

.header .reload {
  display: flex;
  align-items: center;
  height: 50%;
  width: fit-content;
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  background: white;
  font-family: inherit;
  font-weight: 900;
  border: solid 3px #ffffff;
  border-radius: 0.8em;
  color: #eec5c8;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  margin-right: 3vw;
  text-align: center;
}

.reload p {
  color: #d6575f;
}

.reload:hover {
  background-color: rgb(247, 239, 234, 0.6);
  transition: ease-in 0.2s;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/** PAGES POSITIONS */

.page.age {
  z-index: 9;
}

.page.type {
  z-index: 8;
}

.page.sexe {
  z-index: 7;
}

.page.job {
  z-index: 6;
}

.page.context {
  z-index: 5;
}

.page.area {
  z-index: 4;
}
.page.name {
  z-index: 1;
}

/** BLOCK STYLES */

.page {
  background-color: #f7efea;
  width: 100vw;

  margin: 0;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
  position: absolute;
  top: 7.5vh;
  left: 0;
}

.page.result {
  height: fit-content;
  min-height: 92vh;
}

.section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

/* MODAL */

.modal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rules {
  width: 50vw;
  max-width: 80vw;
  min-width: 40vw;
  height: fit-content;
  font-size: 1rem;
  background-color: #f7efea;
  border-radius: 10px;
  color: #d6575f;
  text-align: left;
  margin: auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.rules-image {
  width: 30%;
  background-color: #d6575f;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
}

.logo {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
}

.rules-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  gap: 10px;
}

.rules h3 {
  color: #d6575f;
  font-size: 1.6rem;
}

.rules p {
  color: #4a4a4a;
  font-weight: 400;
  font-size: 1.1rem;
}

.modalButton {
  background-color: #d6575f;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  padding: 20px;
  font-weight: 700;
  width: fit-content;
  margin-bottom: 30px;
  font-size: 1rem;
}

.rules:focus-visible {
  outline: none;
}

/* BUTTONS AND TEXT AREA */

.label {
  font-size: 1.5rem;
  font-weight: 800;
  color: #d6575f;
}

textarea {
  background: #ffffff;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid #eec5c8;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em #eec5c8;
  padding: 1rem;
  transition: 0.3;
  width: 80%;
  color: #d6575f;
}

textarea:focus-visible {
  outline: #eec5c8;
}

textarea:focus {
  background: #f6f1f1;
}

.prompt-box:focus {
  border-color: rgba(255, 255, 255, 0.75);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  font-weight: 900;
  border: 3px solid #eec5c8;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  color: #eec5c8;
  font-size: 30px;
  width: 12vw;
  height: 12vw;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  min-width: 150px;
  min-height: 150px;
  font-family: inherit;
  font-weight: 700;
  padding: 5px;
}

.button p {
  color: #d6575f;
}

.button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.button:focus {
  outline-color: #e8e8e8;
  background: #dadada;
  transition: 0.3s;
}

.button-image {
  width: auto;
  height: 80%;
}

.confirm-name {
  width: 30%;
  height: auto;
}

.generate-buttons {
  display: flex;
  place-content: center;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  gap: 12px;
  height: min-content;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
}

.key-stroke {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.key-stroke p {
  color: rgba(255, 255, 255, 0.75);
  flex: 0 0 auto;
  height: auto;
  position: relative;
  white-space: pre;
  width: auto;
}

.or {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.or p {
  color: rgba(255, 255, 255, 0.25);
}

.generate-buttons {
  display: flex;
  place-content: center;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  gap: 12px;
  height: min-content;
  overflow: hidden;
  padding: 0px;
  position: relative;
  text-align: center;
}

.generate-button {
  background: #ffffff;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid #d6575f;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  width: 30%;
  text-align: center;
  color: #d6575f;
  cursor: pointer;
}

.generate-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.generate-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.generate {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
  align-items: center;
}

.generate p {
  margin: 0;
}

.loading {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  cursor: default;
  background: #f9f9f9;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid #d6575f;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  width: 30%;
  text-align: center;
  color: #d6575f;
}

.output {
  place-content: center flex-start;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: min-content;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.output-header-container {
  place-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 16px;
  height: min-content;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
}

.output-header h3 {
  font-family: "lexend", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 1.4em;
  text-align: start;
  color: #030303;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  margin-top: 10vh;
}

.output-content {
  outline: none;
  display: flex;
  max-width: 70%;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.output-content p {
  font-size: 1.3rem;
  text-align: center;
  white-space: pre-line;
  color: rgb(24, 24, 24);
  line-height: 2.2rem;
  text-align: left;
}

.button.restart {
  width: 30%;
  height: auto;
  font-size: 1.3rem;
  padding: 10px;
  margin-bottom: 10vh;
  min-height: 0;
}

footer {
  z-index: 10;
  position: sticky;
  top: 98vh;
  overflow: hidden;
  width: 100vw;
  text-align: center;
  border-radius: 5px;
}

footer p {
  text-align: center;
  background-color: rgb(238, 197, 200, 0.9);
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  font-size: x-small;
}

footer a {
  color: #ffffff;
}

@media (min-width: 810px) and (max-width: 1199px) {
}

@media (max-width: 809px) {
  .label {
    padding-right: 30px;
    padding-left: 30px;
  }
  .questions {
    display: flex;
    flex-direction: column;
  }
  .rules {
    font-size: 1rem;
    width: 80vw;
    gap: 0px;
    align-items: center;
    flex-direction: column;
  }

  .rules-image {
    width: 100%;
    height: 15vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    display: flex;
  }

  .logo {
    height: 100%;
    width: auto;
    margin-right: 0px;
  }

  .rules-right {
    width: 90%;
    padding: 0px;
    align-items: center;
  }

  .button.restart {
    width: 70%;
    height: fit-content;
    min-height: 0%;
  }

  .reload {
    font-size: 1rem;
  }

  p.label {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .questions {
    display: flex;
    flex-direction: column;
  }

  .button {
    min-width: 100px;
    min-height: 100px;
  }

  .rules {
    flex-direction: column;
  }

  .button p {
    font-size: 1.2rem;
  }

  .output-content p {
    font-size: 1.1rem;
  }

  .page {
    gap: 3%;
  }
}

/* Loading ring animation */
.loader {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid #d6575f;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
